.contenedor {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/nobossAppSimple%2Frecursos%2Ftest%2Fsmokefilledsnoqualmievalley.jpg?alt=media&token=08c72891-378b-4431-9802-c676453394e5");
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  animation: fade-in 2.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 1.2s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.tilt-in-right-2 {
  -webkit-animation: tilt-in-right-2 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-right-2 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes tilt-in-right-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hack-blog {
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.articulos {
  width: 60%;
}

.hack-titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  color: rgb(255, 255, 255);
}

.hack-content {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.hack-info {
  font-family: Lora;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgb(255, 255, 255);
}

#titulo-article {
  text-decoration: none;
}

.hack-titulo {
  font-size: 2rem;
}
#contenedor-de-articulo {
  width: 50%;
}
#creado-por {
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  #logo {
    width: auto;
    height: 5rem;
  }
  #articulos {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .articulos {
    width: 90%;
  }
  .hack-titulo {
    font-size: 1.5rem;
  }
  #contenedor-de-articulo {
    width: 100%;
  }
  #creado-por {
    font-size: 0.7rem;
  }
}
