<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Agregar Articulo</title>
  </head>
  <body>
    <div style="width: 800px" class="container">
      <form
        class="mt-4 border rounded p-4 shadow slide-bottom"
        method="POST"
        action="/articulos/add?_method=put"
        enctype="multipart/form-data"
      >
        <a href="/admin" class="mt-2">Volver</a>
        <div class="text-center">
          <h4>Crear nuevo articulo</h4>
          <hr />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label"
            >Titulo</label
          >
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            placeholder="Ej: Premios al mejor ..."
            required
          />
        </div>
        <div class="mb-3">
          <label for="autor" class="form-label"
            >Autor</label
          >
          <select
            type="text"
            name="author"
            class="form-control"
            id="autor"
            required
          >
         <% for (author of users) { %>
          <option value="<%= author.id %>"><%= author.nombre %> <%= author.apellido %></option>
         <% } %>
        </select>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"
            >Imgen</label
          >
          <input
            type="file"
            name="image"
            class="form-control"
            id="image"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Contenido</label
          >
          <textarea
            type="text"
            name="content"
            class="form-control"
            id="content"
            placeholder="Ej: El pasado jueves, en la localidad de ..."
            required
          ></textarea>
        </div>
       
        <div class="mt-4 d-flex justify-content-end">
          <button type="submit" class="btn btn-success">Agregar</button>
        </div>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
