<footer>
  <div class="container">
    <div class="imagenes_footer">
      <img src="/img/twitter.png" alt="twitter" />
      <div class="img"></div>
      <div class="img"></div>
    </div>
  </div>
</footer>
