<footer class="mt-5">
  <hr />
  <div class="container">
    <div class="imagenes_footer d-flex justify-content-center">
      <div class="img me-2">
        <img
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          alt=""
          width="30px"
          height="30px"
          alt=""
        />
      </div>
      <div class="img me-2">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"
          alt=""
          width="30px"
          height="30px"
          alt=""
        />
      </div>
      <div class="img me-2">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
          alt=""
          width="30px"
          height="30px"
          alt=""
        />
      </div>
    </div>
    <p class="text-center text-secondary opacity-70 mt-3">
      Copyright @ Hack Academy 2022
    </p>
  </div>
</footer>
