<div class="bg-black">
  <div
    class="container text-white d-flex justify-content-between align items-center py-3"
  >
    <a href="/" class="fw-bold text-light text-decoration-none fs-4"
      >Hack the Blog</a
    >
    <a href="/admin" type="button" class="btn btn-primary" name="editUser">
      Admin
    </a>
  </div>
</div>
