<div class="bg-black">
  <div class="container text-white d-flex justify-content-between py-3">
    <a href="/" class="text-sm">Hack the Blog</a>
    <a href="/admin" type="button" class="btn btn-primary" name="editUser">
      Admin
    </a>
  </div>
</div>
